[submodule "client/device_register/ioConnect"]
	path = client/device_register/ioConnect
	url = https://github.com/iotexproject/ioConnect.git
[submodule "client/device_register/src/libraries/dotenv-c"]
	path = client/device_register/src/libraries/dotenv-c
	url = https://github.com/Isty001/dotenv-c.git
